*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/artifacts
/.idea/inspectionProfiles
/.idea/modules
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/uiDesigner.xml
/.idea/deploymentTargetDropDown.xml
/.idea/jarRepositories.xml
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
